includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - lang/
        - resources/
        - routes/
        - tests/

    # Level 10 is the highest level
    level: 5

    excludePaths:
        - bootstrap/cache/*

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
