name: JS - ESLint

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install Node dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint:check
